/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.cpcache
/.lein-*
/.nrepl-history
/.nrepl-port
.hgignore
.hg/
.shadow-cljs
node_modules/
resources/public/js/*
!resources/public/js/main.js
