{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure                                   {:mvn/version "1.10.1"}
           org.clojure/tools.logging                             {:mvn/version "0.5.0"}
           org.clojure/data.json                                 {:mvn/version "0.2.6"}
           org.clojure/tools.cli                                 {:mvn/version "0.4.2"}
           org.clojure/core.cache                                {:mvn/version "0.8.2"}

           aleph                                                 {:mvn/version "0.4.6"}
           haslett                                               {:mvn/version "0.1.6"}
           integrant                                             {:mvn/version "0.7.0"}
           nrepl/nrepl                                           {:mvn/version "0.6.0"}
           metosin/reitit-ring                                   {:mvn/version "0.3.10"
                                                                  :exclusions  [ring/ring-core]}
           metosin/reitit-middleware                             {:mvn/version "0.3.10"}
           ring/ring-core                                        {:mvn/version "1.8.0"}
           ring/ring-defaults                                    {:mvn/version "0.3.2"}
           selmer                                                {:mvn/version "1.12.17"}
           re-frame                                              {:mvn/version "0.11.0-rc1"}
           bk/ring-gzip                                          {:mvn/version "0.3.0"}
           spootnik/unilog                                       {:mvn/version "0.7.25"}
           com.vladsch.flexmark/flexmark                         {:mvn/version "0.50.44"}
           com.vladsch.flexmark/flexmark-ext-tables              {:mvn/version "0.50.44"}
           com.vladsch.flexmark/flexmark-ext-gfm-tasklist        {:mvn/version "0.50.44"}
           com.vladsch.flexmark/flexmark-ext-jekyll-front-matter {:mvn/version "0.50.44"}}

 :aliases {:dev      {:extra-paths ["dev" "target/cljs"]
                      :extra-deps  {org.clojure/test.check {:mvn/version "0.10.0"}
                                    integrant/repl         {:mvn/version "0.3.1"}
                                    binaryage/devtools     {:mvn/version "0.9.11"}
                                    thheller/shadow-cljs   {:mvn/version "2.8.69"}}}

           :test     {:extra-paths ["test"]}

           :test/clj {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-554"}}
                      :main-opts  ["-m" "kaocha.runner"]}}}
