{:deps   {:aliases [:dev]}

 :builds {:app {:target           :browser
                :output-dir       "target/cljs/public/js"
                :asset-path       "/assets/js"

                :compiler-options {:infer-externs :auto}

                :modules          {:main {:entries [useless.client.app]}}

                :devtools         {:before-load useless.client.app/stop
                                   :after-load  useless.client.app/start
                                   :watch-dir   "resources/public"
                                   :loader-mode :eval}

                :release          {:output-dir "resources/public/js"}}}

 :nrepl  false}
