{:useless.server.http/server   {:handler #ig/ref :useless.server.handler/app
                                :port    1234}

 :useless.server.prepl/handler {}

 :useless.server.handler/app   {:handler/prepl #ig/ref :useless.server.prepl/handler}}
