{:useless.server.http/server   {:handler #ig/ref :useless.server.handler/app
                                :port    1234}

 :useless.server.nrepl/server  {:bind      "127.0.0.1"
                                :port      0
                                :provided? false}

 :useless.server.nrepl/handler {:timeout 15000}

 :useless.server.handler/app   {:handler/nrepl #ig/ref :useless.server.nrepl/handler
                                :nrepl/server  #ig/ref :useless.server.nrepl/server}}
