{:useless.server.http/server   {:handler #ig/ref :useless.server.handler/app
                                :port    1234}

 :useless.server.prepl/server  {:bind      "127.0.0.1"
                                :port      0
                                :provided? false}

 :useless.server.prepl/handler {}

 :useless.server.handler/app   {:handler/prepl #ig/ref :useless.server.prepl/handler
                                :prepl/server  #ig/ref :useless.server.prepl/server}}
