:root {
    --font-family-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --color-background: hsla(231, 15%, 18%, 1);
    --color-link: hsla(265, 89%, 78%, 1);
    --color-link-hover: hsla(265, 89%, 78%, 0.7);
    --color-evaluation-result-namespace: hsla(231, 23%, 61%, 1);
    --color-codeblock-border: hsla(231, 14%, 27%, 1);

    --header-height: 34px;
}

html,
body {
    height: 100%;
}

body {
    background: var(--color-background);
    color: #f8f8f2;
    font-family: var(--font-family-sans-serif);
    font-size: 100%;
    margin: 0 1rem;
}

main {
    margin-top: 3em;
    max-width: 42em;
}

h1, h2 {
    font-family: var(--font-family-sans-serif);
    font-weight: normal;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

p code {
    color: #ff79c6;
}

a:link,
a:visited {
    color: var(--color-link);
    transition: color 150ms ease-in-out;
}

a:hover,
a:focus {
    color: var(--color-link-hover);
}

/* Status bar */

header {
    color: #fff;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

header .connection-status {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
}

header .connection-status * {
    font-size: .75rem;
}

header .connection-status p {
    margin: 0;
    padding: 0;
}

header .connection-status .port {
    display: flex;
    align-items: baseline;
}

header .connection-status .port .label {
    opacity: .75;
    margin-right: .25rem;
}

header .connection-status .port input {
    border: 0;
    color: white;
    font-size: .75rem;
    padding: 0;
    background: transparent;
    outline: none;
    width: 52px;
}

header .connection-status.connected {
    background: hsl(134, 51%, 33%);
}

header .connection-status.disconnected {
    background: hsl(1, 72%, 45%);
}

/* Codeblocks */

.codeblock {
    border-left: 5px solid var(--color-codeblock-border);
    padding-left: 5px;
    margin-left: -15px;
}

/* Evaluation result */

aside {
    background: var(--color-background);
    border-left: 5px solid var(--color-codeblock-border);
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    opacity: .9;
    overflow: auto;
    position: fixed;
    resize: vertical;
    right: 0;
    top: var(--header-height);
    width: 50%;
    z-index: 4;
}

aside ul {
    list-style-type: none;
    margin: 0 0 var(--header-height) 0;
    padding: 0;
}

aside button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    position: fixed;
    right: 6px;
    top: 40px;
    transition: color 150ms ease-in-out;
}

aside button:hover {
    color: var(--color-link);
}

.evaluation-result {
    margin: .5em 0;
    padding-left: .5rem;
}

.evaluation-result code {
    font: 0.9rem/1.2 var(--font-family-monospace);
}

.evaluation-result .ns:not(:empty) {
    color: var(--color-evaluation-result-namespace);
    padding: .25em .5rem .25em 0;
}

.evaluation-result .value {
    color: hsl(135, 94%, 65%);
}

.evaluation-result .err {
    color: hsl(0, 100%, 67%);
}

/* CodeMirror */

.CodeMirror {
    font: 0.9rem/1.5 var(--font-family-monospace);
    height: auto;
    margin-bottom: 1rem;
}

.cm-s-dracula .CodeMirror-matchingbracket {
    color: #0f0 !important;
    text-decoration: none;
}
